body{
  background-color:#fafafa;

}

div.genru{
  overflow: hidden;
  padding:0px;
  border-bottom: 1px solid:#dcdcdc
  margin:0;
  width:100%;
  background-color: #F2F2F2;
}

div.box_menu{
	margin:0 auto;
  display: inline-block;
  font-family: 'Dancing Script', cursive;
<<<<<<< HEAD
  font

=======
>>>>>>> 30ddd9c1cf3cb3e010dce15b90cd780a8e0a2764
}

div.header{
  overflow: hidden;
  background-color:#000000;
  padding:1px;
  border-bottom: 1px solid:#dcdcdc
}

div.title {
  font-weight:bold;
  font-size: 42px;
  font-family: 'Dancing Script', cursive;
  display: inline-block;
}

div.menu {
  font-weight:bold;
  font-size: 20pt;
  font-family: 'Dancing Script', cursive;
  float: right;
  border-style:hidden;
}

<<<<<<< HEAD
=======
.body-box {
  margin: 0 auto;
}

.table_menu{
  font-family: 'Dancing Script', cursive;
}

>>>>>>> 30ddd9c1cf3cb3e010dce15b90cd780a8e0a2764
.menu-td:hover {
  border-radius: 10px 10px 10px 10px;
  margin:0px auto;
  background-color: rgba(209, 14, 132, 0.52);
}


hr.line1 {
}

ul.nav{
<<<<<<< HEAD
  padding: 0px;
  background-color:  #fafafa;
=======
  margin: 0 auto;
>>>>>>> 30ddd9c1cf3cb3e010dce15b90cd780a8e0a2764
}

ul.nav li{
  display: inline-block;
  border: 0px solid #fafafa;

  text-align: center;
  background-color: #fafafas;
  width:100px;
  float:left;
}

ul.nav li a{
  text-decoration: none;
  color: #b4b4b4;
  font-weight: bold;
}

div.color_element{
  display: inline-block;
  padding-right: 20px;
  text-align:center;
}

div.cloth_element{
  display: inline-block;
  padding-right: 20px;
}
div.box{
	margin:0px auto;
  display: inline-block;
  padding: 20px;

  /*float: left;*/
}

div.box-container{
	margin:0 auto;
  overflow: hidden;
  background-color:#fafafa;
  display: block;
  &:after{
    content:"";s
    display:block;
    clear:both;
  }
}

.box1, .box2, .box3 {
  float: left;
  width: 33.3333%;
}


div.image_created{
  float:right;
}

div.button_boxA{
  display:block;
  width:100%;
  &:after{
    display:block;
    clear: both;
  }
}

.button_box1, .button_box2{
  float:left;
  width: 50%;
}
#logo{
    width: 420px;
}

#app{
    background-color: red;
    width: 500px;
}

#line{
  color: #EEEEEE;
}
input.create{
	width:80px;
	height:40px;
	text-align:center;
  background-color: #FFF;/*ボタン色*/
}

input.dummy{
	width:120px;
	height:40px;
	text-align:center;
  background-color: #FFF;/*ボタン色*/
}
.square_btn{
    /*display: inline-block;*/
    padding: 0.5em 1em;
    text-decoration: none;
    background: #FFF;/*ボタン色*/
    color: #000;
    border: solid 2px #C0C0C0;
    border-radius: 2px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

button.button1 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #F00;
    /*background-color:  #000;*/
    color: #fff;
    border: solid 1px #C0C0C0;

  }

button.button1:hover {
    color: #fff;
}

button.button2 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #00F;
    color: #fff;
    border: solid 1px #C0C0C0;
    margin-left: 2px;
  }

button.button2:hover {
    color: #fff;
}

button.button3 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #F0F;
    color: #fff;
    border: solid 1px #C0C0C0;
    margin-left: 2px;
}

button.button3:hover {
    color: #fff;
}

button.button4 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #000080;
    color: #fff;
    border: solid 1px #C0C0C0;
    margin-left: 10px;
    margin-left: 2px;
}

button.button4:hover {
    color: #fff;
}


button.button5 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #008080;
    color: #fff;
    border: solid 1px #C0C0C0;
    margin-left: 2px;
  }

button.button5:hover {
    color: #fff;
}


button.button6 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #008000;
    color: #fff;
    border: solid 1px #C0C0C0;
    margin-left: 2px;
  }

button.button6:hover {
    color: #fff;
}

button.button7 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #FF0;
    color: #fff;
    border: solid 1px #C0C0C0;
    margin-left: 2px;
  }

button.button7:hover {
    color: #fff;
}


button.button8 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color:  #000;
    color: #fff;
    border: solid 1px #C0C0C0;
    margin-left: 2px;
  }

button.button8:hover {
    color: #fff;
}

button.button9 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #fff;
    color: #fff;
    border: solid 1px #C0C0C0;
    margin-left: 2px;
  }

button.button9:hover {
    color: #fff;
}

button.button10 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #800080;
    color: #fff;
    border: solid 1px #C0C0C0;
  }

button.button10:hover {
    color: #fff;
}
input#checkbox1{
	vertical-align:middle;
}


input#checkbox2{
	vertical-align:middle;
	width:19px;

}

input#checkbox3{
	vertical-align:middle;
	width:14px;
}

input#checkbox4{
	vertical-align:middle;
	width:17px;

}

input#checkbox5{
	vertical-align:middle;
	width:19px;

}

input#checkbox6{
	vertical-align:middle;
	width:15px;
}

input#checkbox7{
	vertical-align:middle;
	width:16px;

}

input#checkbox8{
	vertical-align:middle;
	width:20px;

}
input#checkbox9{
	vertical-align:middle;
	width:18px;
}


input.cloth_element1{
	vertical-align:middle;
	width:100px;
	text-align:center;
}

input.cloth_element2{
	vertical-align:middle;
	width:100px;
	text-align:center;
}

input.cloth_element3{
	vertical-align:middle;
	width:100px;
	text-align:center;
}

input.cloth_element4{
	vertical-align:middle;
	width:100px;
	text-align:center;
}
input.cloth_element5{
	vertical-align:middle;
	width:100px;
	text-align:center;
}

div.cloth_botoom{

	display:block;
	/*display: inline-block;*/
	text-align:center;
}
/*
.img-pos {
  position: absolute;
  top: 150px;
  left: 450px;
}
*/

/*ポップアップ用*/
#popup-background{
    position:fixed;     /* 位置の固定 */
    top: 0;             /* 表示位置 */
    left: 0;            /* 表示位置 */
    height: 100%;       /* 画面全体に表示 */
    width: 100%;        /* 画面全体に表示 */
    background:#000;    /* 背景色 */
    opacity: 0.60;      /* 透明度 */
    margin: 0;          /* 余白の削除 */
    padding: 0;         /* 余白の削除 */
    z-index:1000;       /* 要素のz座標 */
}
#popup-item{
    position:fixed;     /* 位置の固定 */
    top: 50%;           /* 表示位置(真ん中に表示) */
    left: 50%;          /* 表示位置(真ん中に表示) */
    margin: 0;          /* 余白の削除 */
    padding: 0;         /* 余白の削除 */
    z-index:1001;       /* 要素のz座標 */
}
