<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Markazi+Text" rel="stylesheet">
    <link rel="Stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/modal.css">
    <script type="text/javascript" src="static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/modal.js"></script>
    <title>home</title>
</head>
<body>
  <div class="header">
    <div class="box_menu">
      <div class="title">ShapeIt</div></div>
    <div class="menu">
      <table  cellspacing="10">
        <tbody>
          <tr>
            <td>History</td>
            <td>Help</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  </div>

  <!--999999999999999999999999999999999999999999999999999999999999-->
  <div class="genru">
  <ul class="nav">
    <li><a href="">全て</a></li>
    <li><a href="">メンズ</a></li>
    <li><a href="">レディース</a></li>
    <li><a href="">キッズ</a></li>
  </ul>
</div>

  <div class="box-container">


      <div class="box">

  <!--            <div class="color_element"><p><a class=square_btn href="#">カラーマップ</a></p></div>
                  <div class="color_element"><p><a class=square_btn href="#">RGB指定</a></p></div>
  -->
<!--</div>-->
        <form action="./selecting_color" method="POST">
          <!--<p>レディース>ワンピース</p>-->
           <p>ワンピース＞</p>
              <div class="color_box">
                  <!--<div class="color_top">-->
                  <div class="color_element">カラー＞</div>

                     <div class="color_bottom">
                      <button class="button1" name="color" type="button"></button>
                      <button class="button2" name="color" type="button"></button>
                      <button class="button3" name="color" type="button"></button>
                      <button class="button4" name="color" type="button"></button>
                      <button class="button5" name="color" type="button"></button>
                      <button class="button6" name="color" type="button"></button>
                      <button class="button7" name="color" type="button"></button>
                      <button class="button8" name="color" type="button"></button>
                      <button class="button9" name="color" type="button"></button>
        	             <br>
                      	<label> <input class="checkbox1" type="checkbox" name="fav" value=0> </label>
                      	<label> <input class="checkbox2" type="checkbox" name="fav" value=1> </label>
                      	<label> <input class="checkbox3" type="checkbox" name="fav" value=2> </label>
                      	<label> <input class="checkbox4" type="checkbox" name="fav" value=3> </label>
                      	<label> <input class="checkbox5" type="checkbox" name="fav" value=4> </label>
                      	<label> <input class="checkbox6" type="checkbox" name="fav" value=5> </label>
                      	<label> <input class="checkbox7" type="checkbox" name="fav" value=6> </label>
                      	<label> <input class="checkbox8" type="checkbox" name="fav" value=7> </label>
                      	<label> <input class="checkbox9" type="checkbox" name="fav" value=8> </label>
                      </br>
                  </div><!-- /color-bottom -->
                </div><!-- /color-box -->

                  <br>
                  <div class="cloth_length">
                    <div class="cloth_top">
                      <div class="cloth_element">着丈＞</div>
                        <p>
                          <select name="Example1">
                          <option value="sample1">ランダム</option>
                          <option value="sample1">レギュラー丈</option>
                          <option value="sample1">ヒップス丈</option>
                          <option value="sample1">チュニック丈</option>
                          <option value="sample1">ワンピ丈</option>
                          <option value="sample1">マキシ丈</option>
                          </select>
                        </p>
                     </div>
                      <!--        <div class="cloth_element"><p><a class=square_btn href="#">フィッティング早見表</a></p></div>
                      -->
                    <div class="cloth_botoom"></div>
                  </div>
                  </br>
                		<!--<div ><p><a><input type="text" name="regular" placeholder="レギュラー丈"  class="cloth_element1"></a></p></div>
                		<div ><p><a><input type="text" name="hips" placeholder="ヒップス丈" class="cloth_element2"></a></p></div>
                		<div ><p><a><input type="text" name="tunic" placeholder="チュニック丈"class="cloth_element3"></a></p></div>
                		<div ><p><a><input type="text" name="wanpi" placeholder="ワンピ丈"  class="cloth_element4"></a></p></div>
                		<div ><p><a><input type="text" name="maxi" placeholder="マキシ丈"  class="cloth_element5"></a></p></div>-->
                    <!--<div class="design">デザイン＞</div>
                    <div class="collar">襟の形＞</div>-->
                    <!--<div class="create"><p><a class="square_btn" href="#">生成</a></p></div>-->

              <input type ="submit" class="create" value="生成" ></button>
          	  </form>
          </div><!--/box-->

    <!--999999999999999999999999999999999999999999999999999999999999-->
        <div class="box">
             <img src="/static/one-piece_white.jpg" width="400" height="400" style="border:solid 1px #ccc;padding:40px 80px;,background-color:#fff" alt="">
            <!-- <img src="/static/one-piece_white.jpg" width="400" height="400" style="border:solid 1px #ccc;padding:40px 80px;">-->
            <p><a class="square_btn" href="#" id="modal_open">検索</a></p>
        </div>
      </div>

      <div class="modal-content">
          <div class="modal-content-inner">
              <p class="modal-title">This is a demo modal window</p>
              <a href="{{ response }}"><input type="button" name="recommend" value="商品ページへ"></a>
              <input type="button" name="close" value="close" class="modal-close">
          </div>
      </div>

      <div id="modal-overlay" class="modal-close"></div>
</body>
</html>
