<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>page1</title>
    <!-- CSSファイルを追加 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- 画像読み込みを追加 -->
    <div id="logo"><img src="{{ url_for('static', filename='photo.jpg') }}"></div>
    <h1>test1 template</h1>
    <div id="app">
        <ul>
            <li> url_for('static', filename='style.css') : staticフォルダのCSSを読み込み</li>
            <li> url_for('static', filename='photo.jpg') :  staticフォルダの画像を読み込み</li>
        </ul>
    </div>
</body>
</html>
